
section {
    background-color: yellow;
        h1{ 
            color:green;
        }
        .test{
            color:pink;
            &:hover{
                color:green;
            }
        }
}